/* src/styles/IconosFlotantes.module.css */

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  height: 32px; /* Asegura altura fija por fila */
  width: 200%;
  line-height: 32px;
  padding: 0;
  margin: 0;
  opacity: 0.05;
}

.reverse {
  flex-direction: row-reverse;
}

.icon {
  font-size: 20px;
  padding: 0 12px;
  color: #000;
  flex-shrink: 0;
}


@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

